<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <agent>
    <contextProviders>
      <add xdt:Transform="RemoveAll" />
      <add provider="Package" filePath="" xdt:Transform="Insert" />
      <add provider="Database" connectionString="Data Source=;Initial Catalog=;Integrated Security=False;User ID=;Password=" xdt:Transform="Insert" />
      <add provider="Folder" folderPath="" xdt:Transform="Insert" />
    </contextProviders>
    <reportPrinters>
      <reportPrinter printer="Console" xdt:Transform="Insert" />
      <reportPrinter printer="CSV" filePath="report.csv"  xdt:Transform="Insert" />
    </reportPrinters>
  </agent>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
    <rules>
      <logger xdt:Transform="RemoveAll" />
      <logger name="*" minlevel="Trace" writeTo="logFile" xdt:Transform="Insert" />
      <logger name="*" minlevel="Trace" writeTo="console" xdt:Transform="Insert" />
    </rules>
  </nlog>
</configuration>