<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <!-- Путь до бинарников, из которых будет собираться инсталлятор. -->
  <?define ArtifactsDir = "$(var.ProjectDir)..\..\artifacts\bin\IsblCheck\Release\" ?>
  <!-- Имя продукта. -->
  <?define ProductName = "IsblCheck" ?>

  <Product Id="*" Name="IsblCheck" Language="1033" Version="1.0.0.0" Manufacturer="NPO Computer" UpgradeCode="cfe1f3ed-8306-4e23-955a-1226c2defe70">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of $(var.ProductName) is already installed." />
    <MediaTemplate EmbedCab="yes"/>

    <Feature Id="IsblCheck" Title="IsblCheck.Setup" Level="1">
      <!-- Бинарники. -->
      <ComponentGroupRef Id="Binaries" />
      <!-- Сборки с правилами. -->
      <ComponentGroupRef Id="Rules" />
      <!-- Ярлыки в главном меню. -->
      <ComponentRef Id="ApplicationShortcuts" />
    </Feature>

    <Icon Id="Icon.exe" SourceFile="$(var.ArtifactsDir)IsblCheck.ico" />    
    <Property Id="ARPPRODUCTICON" Value="Icon.exe" />
    
    <!-- Без возможности восстановить -->
    <Property Id="ARPNOREPAIR" Value="yes" Secure="yes" />
    <!-- Без возможности изменить -->
    <Property Id="ARPNOMODIFY" Value="yes" Secure="yes" />

    <!-- Структура папок. -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLDIR" Name="$(var.ProductName)">
          <Directory Id="RulesDir" Name="Rules" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="$(var.ProductName)"/>
      </Directory>
    </Directory>

    <!-- Компоненты. -->
    
    <!-- Бинарники. -->
    <ComponentGroup Id="Binaries" Directory="INSTALLDIR">
      <Component Id="Antlr4.Runtime.dll" Guid="*">
        <File Id="Antlr4.Runtime.dll" Source="$(var.ArtifactsDir)Antlr4.Runtime.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="Autofac.dll" Guid="*">
        <File Id="Autofac.dll" Source="$(var.ArtifactsDir)Autofac.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="Common.Logging.dll" Guid="*">
        <File Id="Common.Logging.dll" Source="$(var.ArtifactsDir)Common.Logging.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="Common.Logging.Core.dll" Guid="*">
        <File Id="Common.Logging.Core.dll" Source="$(var.ArtifactsDir)Common.Logging.Core.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="Common.Logging.NLog41.dll" Guid="*">
        <File Id="Common.Logging.NLog41.dll" Source="$(var.ArtifactsDir)Common.Logging.NLog41.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="FluentValidation.dll" Guid="*">
        <File Id="FluentValidation.dll" Source="$(var.ArtifactsDir)FluentValidation.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="GalaSoft.MvvmLight.dll" Guid="*">
        <File Id="GalaSoft.MvvmLight.dll" Source="$(var.ArtifactsDir)GalaSoft.MvvmLight.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="GalaSoft.MvvmLight.Platform.dll" Guid="*">
        <File Id="GalaSoft.MvvmLight.Platform.dll" Source="$(var.ArtifactsDir)GalaSoft.MvvmLight.Platform.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="ICSharpCode.AvalonEdit.dll" Guid="*">
        <File Id="ICSharpCode.AvalonEdit.dll" Source="$(var.ArtifactsDir)ICSharpCode.AvalonEdit.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="IsblCheck.exe" Guid="*">
        <File Id="IsblCheck.exe" Source="$(var.ArtifactsDir)IsblCheck.exe" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="IsblCheck.Context.Application.dll" Guid="*">
        <File Id="IsblCheck.Context.Application.dll" Source="$(var.ArtifactsDir)IsblCheck.Context.Application.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="IsblCheck.Context.Development.dll" Guid="*">
        <File Id="IsblCheck.Context.Development.dll" Source="$(var.ArtifactsDir)IsblCheck.Context.Development.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="IsblCheck.Core.dll" Guid="*">
        <File Id="IsblCheck.Core.dll" Source="$(var.ArtifactsDir)IsblCheck.Core.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="IsblCheck.exe.config" Guid="*">
        <File Id="IsblCheck.exe.config" Source="$(var.ArtifactsDir)IsblCheck.exe.config" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="IsblCheck.PanelContainer.config" Guid="*">
        <File Id="IsblCheck.PanelContainer.config" Source="$(var.ArtifactsDir)IsblCheck.PanelContainer.config" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="IsblCheck.Reports.dll" Guid="*">
        <File Id="IsblCheck.Reports.dll" Source="$(var.ArtifactsDir)IsblCheck.Reports.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="Microsoft.WindowsAPICodePack.dll" Guid="*">
        <File Id="Microsoft.WindowsAPICodePack.dll" Source="$(var.ArtifactsDir)Microsoft.WindowsAPICodePack.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="Microsoft.WindowsAPICodePack.Shell.dll" Guid="*">
        <File Id="Microsoft.WindowsAPICodePack.Shell.dll" Source="$(var.ArtifactsDir)Microsoft.WindowsAPICodePack.Shell.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="NLog.dll" Guid="*">
        <File Id="NLog.dll" Source="$(var.ArtifactsDir)NLog.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="System.Windows.Interactivity.dll" Guid="*">
        <File Id="System.Windows.Interactivity.dll" Source="$(var.ArtifactsDir)System.Windows.Interactivity.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="Xceed.Wpf.AvalonDock.dll" Guid="*">
        <File Id="Xceed.Wpf.AvalonDock.dll" Source="$(var.ArtifactsDir)Xceed.Wpf.AvalonDock.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="Xceed.Wpf.AvalonDock.Themes.Aero.dll" Guid="*">
        <File Id="Xceed.Wpf.AvalonDock.Themes.Aero.dll" Source="$(var.ArtifactsDir)Xceed.Wpf.AvalonDock.Themes.Aero.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="Xceed.Wpf.AvalonDock.Themes.Metro.dll" Guid="*">
        <File Id="Xceed.Wpf.AvalonDock.Themes.Metro.dll" Source="$(var.ArtifactsDir)Xceed.Wpf.AvalonDock.Themes.Metro.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="Xceed.Wpf.AvalonDock.Themes.VS2010.dll" Guid="*">
        <File Id="Xceed.Wpf.AvalonDock.Themes.VS2010.dll" Source="$(var.ArtifactsDir)Xceed.Wpf.AvalonDock.Themes.VS2010.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="Xceed.Wpf.DataGrid.dll" Guid="*">
        <File Id="Xceed.Wpf.DataGrid.dll" Source="$(var.ArtifactsDir)Xceed.Wpf.DataGrid.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="Xceed.Wpf.Toolkit.dll" Guid="*">
        <File Id="Xceed.Wpf.Toolkit.dll" Source="$(var.ArtifactsDir)Xceed.Wpf.Toolkit.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
    </ComponentGroup>

    <!-- Правила анализатора. -->
    <ComponentGroup Id="Rules" Directory="RulesDir">
      <Component Id="IsblCheck.BaseRules.dll" Guid="*">
        <File Id="IsblCheck.BaseRules.dll" Source="$(var.ArtifactsDir)Rules\IsblCheck.BaseRules.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
    </ComponentGroup>

    <!-- Ярлыки в главном меню. -->
    <Component Id="ApplicationShortcuts" Guid="*" Directory="ApplicationProgramsFolder">
      <!-- Ярлык для запуска. -->
      <Shortcut Id="ApplicationStartMenuShortcut"
                Name="$(var.ProductName)"
                Description="$(var.ProductName)"
                Target="[#IsblCheck.exe]"
                WorkingDirectory="INSTALLDIR"
                Directory="ApplicationProgramsFolder"/>
      <!-- Ярлык для удаления. -->
      <Shortcut Id="UninstallProduct"
                Name="Uninstall $(var.ProductName)"
                Description="Uninstalls $(var.ProductName)"
                Target="[System64Folder]msiexec.exe"
                Arguments="/x [ProductCode]"
                Directory="ApplicationProgramsFolder"/>
      <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
      <RegistryValue Root="HKCU" Key="Software\Microsoft\$(var.ProductName)" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
    </Component>
  </Product>
</Wix>
