<?xml version="1.0" encoding="utf-8"?>
<LayoutRoot xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <RootPanel Orientation="Horizontal">
    <LayoutAnchorablePane Id="b3ecdbfb-434f-4d5f-b1a3-70d870efdfaf" DockWidth="250" />
    <LayoutPanel Orientation="Vertical">
      <LayoutDocumentPane/>
      <LayoutAnchorablePaneGroup Orientation="Horizontal" DockHeight="170">
        <LayoutAnchorablePane Id="65c44b44-93f6-4392-884c-7b80bbe1a99a" DockHeight="170"/>
      </LayoutAnchorablePaneGroup>
    </LayoutPanel>
  </RootPanel>
  <TopSide />
  <RightSide />
  <LeftSide />
  <BottomSide />
  <FloatingWindows />
  <Hidden>
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" ContentId="REPORT_VIEWER" PreviousContainerId="65c44b44-93f6-4392-884c-7b80bbe1a99a" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" ContentId="SOURCE_EXPLORER" PreviousContainerId="b3ecdbfb-434f-4d5f-b1a3-70d870efdfaf" PreviousContainerIndex="0" />
  </Hidden>
</LayoutRoot>